
.cart-content {
  min-height: 50vh;
}

// styles for desktop size
.cartBox-desk{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 20px;
  margin: 50px 0;

  h1 {
    color: #555;
  }

  .table{
    .quantity{
      display: flex;
      justify-content: space-between;
      input{
        margin: 0 20px;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        appearance: none;
      }

      input[type=number] {
        appearance: textfield;
      }
    }
    tbody{
      border-top : 1px solid #c61d21;
      border-radius: 1px solid #c61d21;
      tr{
        td{
          border-bottom: 0;
          text-align: center;
          vertical-align: middle;
          img{
            width: 80px;
            height: 80px;
            border-radius: 10px;
          }
        }
      }

      input{
        text-align: center;
      }
    }

    tfoot {
      .order-btn {
        color: #fff;
        border: 1px solid #000;
        background-color: #000;
        font-weight: 500;
        padding: 3px 6px;
        border-radius: 5px;
        transition: all 0.3s;


        &:hover {
          color: #000;
          border: 1px solid #000;
          background-color: #fff;
        }
      }
    }
  }

  .headercart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 16px;
      background-color: #eee;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #e67779;
        color: #fff !important;
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}

// styles for mobile size
.cartBox-mob{
  display: none;
  h1 {
    color: #555;
    font-size: 25px;
  }
  .headercart {
    text-align: center;
    p {
      margin: 5px;
      font-size: 16px;
    }
    span {
      font-size: 14px;
    }
  }
  .line {
    width: 75%;
    height: 2px;
    margin: 10px auto;
    background-color: rgb(224, 142, 133);
  }

  .row {
    .col-12 {
      border-bottom: 1px solid #aaa;
      .row {
        img {
          width: 100%;
          border-radius: 15px;
        }
        p {
          font-size: 14px;
        }
        p:nth-of-type(2) {
          background-color: gold;
          width: fit-content;
          border-radius: 10px;
          margin: auto;
          padding: 5px 10px;
        }
        .quantity{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          margin: 10px 0;
          input{
            margin: 0 20px;
          }
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            appearance: none;
          }

          input[type=number] {
            appearance: textfield;
          }
          .form-control:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.1rem rgba(42, 43, 49, 0.75);
          }

        }
        .total {
          p {
            padding-top: 10px;
          }
          button {
            font-size: 14px;
          }
        }

      }
    }
    .last{
      border: none;
      padding-top: 20px;

      p {
        padding-top: 10px;
      }

      .order-btn {
        color: #fff;
        border: 1px solid #000;
        background-color: #000;
        font-weight: 500;
        padding: 3px 6px;
        border-radius: 5px;
        transition: all 0.3s;


        &:hover {
          color: #000;
          border: 1px solid #000;
          background-color: #fff;
        }
      }
    }
  }
}

// styles for empty cart
.cart-content-empty {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .empty-cart {
    max-width: 500px;

    img {
      width: 100%;
    }
  }
}






/* start media queres  */

/* start small screen */
@media screen and (max-width:576px) {
  .cartBox-desk{
    display: none;
  }
  .cartBox-mob{
    display: block;
  }
}

/* end small screen */
/* start medium screen */
@media screen and (min-width:577px) and (max-width:768px) {
  .cartBox-desk{
    display: none;
  }
  .cartBox-mob{
    display: block;
  }
}
/* end medium screen */
/* start large screen */
@media screen and (min-width:769px) and (max-width:992px) {
  .cartBox-desk{
    padding: 0 10px;
    margin: 40px 0;

    h1 {
      font-size: 30px;
    }

    .table{
      .quantity{
        input{
          margin: 0 10px;
        }
      }
      tbody{
        tr{
          td{

            img{
              width: 60px;
              height: 60px;
              border-radius: 10px;
            }

            p {
              font-size: 14px;
            }

            button {
              padding: 2px 10px !important;
            }

          }
        }
      }

      tfoot {
        .order-btn {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}
/* end large screen */
/* start extra large screen */
@media screen and (min-width:993px) and (max-width:1200px) {

}
/* end axtra large screen */
/* start extra extra large screen */
@media screen and (min-width:1201px) and (max-width:1400px) {

}
/* end extra extra large screen */

/* end media queres*/

