<div class="register-content">
  <div class="container">
    <div class="row py-5">
      <form action="#" class="py-3">
        <h2 class="my-5">Create Acount</h2>
        <input type="text" placeholder="Enter Your Fname" class="form-control my-3">
        <input type="text" placeholder="Enter Your Lname" class="form-control my-3">
        <input type="email" placeholder="Enter Your Email" class="form-control my-3">
        <input type="email" placeholder="Enter Your Password" class="form-control my-3">
        <button class="btn btn-dark my-2" type="button">Create</button>
      </form>
    </div>
  </div>
</div>
