<div class="contact-content">
  <div class="contact-header py-5 text-center">
    <h2></h2>
  </div>
  <div class="contact-details py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
         <div class="contact-form">
          <h4>Contact Us</h4>
          <form action="#">
            <input type="text" placeholder="Name" class="form-control my-2">
            <input type="email" placeholder="Email" class="form-control my-2">
            <input type="number" placeholder="Phone Number" class="form-control my-2">
            <textarea placeholder="Comment" cols="30" rows="3" class="form-control my-2"></textarea>
            <button class="btn btn-dark my-2" >Send</button>
          </form>
         </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="contact-details-data">
            <h4>Get In Touch With Us</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-solid fa-house mx-2"></i></span>33 New Montgomery St.</li>
              <li><span class="fa-li"><i class="fa-solid fa-phone mx-2"></i></span>
                (+91)2-222-0002</li>
              <li><span class="fa-li"><i class="fa-solid fa-envelope mx-2"></i></span>Poveria@gmail.Com</li>
              <li><span class="fa-li"><i class="fa-solid fa-info mx-2"></i></span>Monday – Friday 10 AM – 8 PM</li>
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
