<div class="about-us-content">
  <div class="aboutus-header py-5 text-center">
    <h2></h2>
  </div>
  <div class="aboutus-details py-5">
    <div class="container">
      <div class="row flex-column py-4">
        <div class="col-12 my-2">
          <h5>The Standard Lorem Ipsum Passage</h5>
          <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Morbi Accumsan Turpis Posuere Cursus Ultricies. Ut Nunc Justo, Faucibus Eget Elit Quis, Vehicula Rhoncus Nulla. Phasellus Convallis Sem Nec Facilisis Commodo. Fusce Ut Molestie Turpis. Suspendisse Aliquet Sed Massa In Vulputate. Quisque Gravida Suscipit Tincidunt.</p>
        </div>
        <div class="col-12 my-2">
          <h5>At Vero Eos Et Accusamus Et Iusto Odio Dignissimos</h5>
          <p>Mauris Elementum Scelerisque Elit Non Egestas. Cras Lacus Nibh, Pretium Quis Bibendum Nec, Dapibus A Metus. Morbi Eros Lectus, Aliquam Eu Aliquam Id, Fringilla Nec Eros. Praesent Suscipit Commodo Diam, Non Viverra Turpis Dapibus Malesuada. Duis Cursus Metus Eu Sem Eleifend, Id Rhoncus Odio Porttitor.</p>
        </div>
        <div class="col-12 my-2">
          <h5>Certain Circumstances And Owing To The Claims Of Duty Or The Obligations</h5>
          <p>But I Must Explain To You How All This Mistaken Idea Of Denouncing Pleasure And Praising Pain Was Born And I Will Give You A Complete Account Of The System, And Expound The Actual Teachings Of The Great Explorer Of The Truth, The Master-Builder Of Human Happiness. No One Rejects, Dislikes.</p>
        </div>
        <div class="col-12 my-2">
          <h5>Integer Ultrices Laoreet Nunc In Gravida</h5>
          <p>Sed Lobortis Pulvinar Viverra. Cum Sociis Natoque Penatibus Et Magnis Dis Parturient Montes, Nascetur Ridiculus Mus. Mauris Suscipit Dolor Scelerisque, Bibendum Tellus Ac, Pharetra Sapien. Praesent Lacinia Scelerisque Odio Et Consequat. In A Facilisis Lacus. Maecenas Vel Lobortis Tellus.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutus-members py-5">
    <div class="container">
      <div class="row text-center">
        <div class="aboutus-members-header">
          <h4>Teams Member</h4>
          <p>Showing our latest arrival on this summer</p>
        </div>
      </div>
      <div class="row">
        <div class="aboutus-members-items">
         <div class="row py-3">
          <div class="col-sm-6 col-md-3 p-3">
            <div class="item">
              <img src="../../../../assets/images/members/member1.jpg" alt="Ellyse Perry" class="w-100 h-100">
              <div class="layer py-3">
                <h6>Ellyse Perry</h6>
                <p>Digital Marketer</p>
                <ul class="d-flex  justify-content-center">
                  <li><span><i class="fa-brands fa-instagram"></i></span></li>
                  <li><span><i class="fa-brands fa-twitter"></i></span></li>
                  <li><span><i class="fa-brands fa-linkedin"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 p-3">
            <div class="item">
              <img src="../../../../assets/images/members/member2.jpg" alt="Ellyse Perry" class="w-100 h-100">
              <div class="layer py-3">
                <h6>Ellyse Perry</h6>
                <p>Digital Marketer</p>
                <ul class="d-flex  justify-content-center">
                  <li><span><i class="fa-brands fa-instagram"></i></span></li>
                  <li><span><i class="fa-brands fa-twitter"></i></span></li>
                  <li><span><i class="fa-brands fa-linkedin"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 p-3">
            <div class="item">
              <img src="../../../../assets/images/members/member3.jpg" alt="Ellyse Perry" class="w-100 h-100">
              <div class="layer py-3">
                <h6>Ellyse Perry</h6>
                <p>Digital Marketer</p>
                <ul class="d-flex  justify-content-center">
                  <li><span><i class="fa-brands fa-instagram"></i></span></li>
                  <li><span><i class="fa-brands fa-twitter"></i></span></li>
                  <li><span><i class="fa-brands fa-linkedin"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 p-3">
            <div class="item">
              <img src="../../../../assets/images/members/member4.jpg" alt="Ellyse Perry" class="w-100 h-100">
              <div class="layer py-3">
                <h6>Ellyse Perry</h6>
                <p>Digital Marketer</p>
                <ul class="d-flex  justify-content-center">
                  <li><span><i class="fa-brands fa-instagram"></i></span></li>
                  <li><span><i class="fa-brands fa-twitter"></i></span></li>
                  <li><span><i class="fa-brands fa-linkedin"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
