<div class="details-content py-5 ">
  <div class="container">
    <div class="row" *ngIf="!loading">
      <div class="col-sm-12 col-md-5">
        <div class="product-img">
          <img [src]="product.image" [alt]="product.title">
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="product-info">
          <ul class="list-unstyled">
            <li><h3 class="text-info">{{product.title}}</h3></li>
            <li><h4>{{product.category}}</h4></li>
            <li><p>{{product.description}}</p></li>
            <li><strong>Rate : </strong><span>{{product.rating.rate}}</span></li>
            <li><strong>Product Number : </strong>{{product.rating.count}}</li>
            <li><strong>Price : </strong>{{product.price}} &dollar;</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center">
      <app-spinner *ngIf="loading"></app-spinner>
    </div>
  </div>
</div>
