
<div class="footer-content pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h4>FASHIONISTA</h4>
          <p>33 New Montgomery St. Ste 750 San Francisco, CA, USA 94105</p>
          <p>(+91)2-222-0002</p>
          <p><a href="#">Fashionista@gmail.Com</a></p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h6>FIND IT FAST</h6>
          <ul>
            <li>Search</li>
            <li>Contact Us</li>
            <li>FAQ`s</li>
            <li>Gallery</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h6>INFORMATION</h6>
          <ul>
            <li>Latest News</li>
            <li>Privacy Policy</li>
            <li>Terms And Conditions</li>
            <li>Delivery Information</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h6>SUBSCRIBE NOW</h6>
          <p>You May Unsubscribe At Any Moment. Please Find Our Contact Info</p>
          <input type="email" placeholder="Your Email">
          <ul class="d-flex links ">
            <li><span><i class="fa-brands fa-facebook"></i></span></li>
            <li><span><i class="fa-brands fa-instagram"></i></span></li>
            <li><span><i class="fa-brands fa-twitter"></i></span></li>
            <li><span><i class="fa-brands fa-pinterest"></i></span></li>
            <li><span><i class="fa-brands fa-youtube"></i></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <p class="mb-0">© 2022, Poveria-Demo Powered By Shopify</p>
    </div>
  </div>
</div>
