<div class="collection-content">
  <div class="container">
    <div class="row text-center py-3">
      <div class="col-12">
        <div class="collection-header">
          <h3>Latest Products</h3>
          <ul class="d-flex my-5 justify-content-center">
            <li>All</li>
            <li>Men's Clothes</li>
            <li>Woman Clothes</li>
            <li>Jewelery</li>
            <li>Electronic</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
</div>
