<div class="product">
  <div class="product-header text-center p-3">
    <img [src]="data.image" [alt]="data.title" routerLink="/details/{{data.id}}">
    <h5 class="my-2">{{data.title}}</h5>
  </div>
  <div class="product-body px-3 pb-3">
    <p>{{data.description}}</p>
    <div class="product-buttons d-flex justify-content-between align-items-center">
      <button *ngIf="!addButton" (click)="addButton = true"> add to Cart</button>
      <div class="w-50 d-flex" *ngIf="addButton">
        <input type="number" class="form-control" [(ngModel)]="amount">
        <button  (click)="add();added();addButton = false">Add</button>
      </div>
      <span>{{data.price}} $</span>
    </div>
  </div>
</div>
