.product {
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(58, 56, 55, 0.3);
  transition: transform 0.4s;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);

  }

  .product-header {
    img {
      width: 70%;
      height: 200px;
    }

    h5 {
      height: 60px;
      font-weight: 500;
      line-height: 1.36;
      overflow: hidden;
    }
  }

  .product-body {
    p {
      height: 100px;
      overflow: hidden;
      color: #555;
    }

    .product-buttons {
      div{
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          appearance: none;
        }

        input[type=number] {
          appearance: textfield;
          margin-right: 5px !important;
        }
        .form-control:focus {
          color: #212529;
          background-color: #fff;
          border-color: #86b7fe;
          outline: 0;
          box-shadow: 0 0 0 0.1rem rgba(42, 43, 49, 0.75);
      }
      }

      button {
       background-color: transparent;
       border: 1px solid #000;
       border-radius: 5px;
       padding: 3px 5px;
       transition: all 0.3s;

       &:hover {
        color: #fff;
        background-color: #000;

       }
      }

      span {
        color: #fff;
        background-color: #000;
        border-radius: 20px;
        padding: 3px 6px;
      }
    }
  }
}
